---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceTimeLine from "../components/ExperienceTimeLine.astro";
import IntroSection from "../components/IntroSection/IntroSection.astro";
---

<Layout title="Portfolio of Mario Fernández-Pacheco">
  <main class="px-6 pb-10">
    <SectionContainer class="pt-4" bgColor="#3BC8C3">
      <IntroSection />
    </SectionContainer>
    <SectionContainer class="pt-10" bgColor="#A970FF" section="EXPERIENCE">
      <ExperienceTimeLine />
    </SectionContainer>
  </main>
</Layout>
