<a
  class="text-xl bg-white px-4 py-1 inline-block hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition rounded-full border-2 border-solid border-black"
  href={Astro.props.href}
>
  <slot />
</a>
