---
import NavbarLink from "./NavbarLink.astro";
---

<nav class="flex flex-row justify-center py-5 gap-4">
  <NavbarLink href="#">Home</NavbarLink>
  <NavbarLink href="#experience">Experience</NavbarLink>
</nav>
