---
interface Props {
  class: string;
  bgColor?: string;
  section?: SectionTypes;
}

type SectionTypes = "EXPERIENCE";

const { section, bgColor } = Astro.props;

type Section = {
  id: string;
  title: string;
};

type SectionsList = {
  [section in SectionTypes]: Section;
};

const sectionsData: SectionsList = {
  EXPERIENCE: {
    id: "experience",
    title: "Experience",
  },
};
---

<section
  class=`w-full lg:w-[768px] mx-auto ${Astro.props.class}`
  id={section ? sectionsData[section].id : null}
>
  <div
    class=`rounded-3xl p-6
    shadow-[10px_10px_0px_0px_rgba(0,0,0,1)]
    border-4 border-solid border-black`
    style={`background-color: ${bgColor ?? "#FFF"};`}
  >
    {
      section && (
        <h1 class="font-semibold text-3xl mb-8">
          {sectionsData[section].title}
        </h1>
      )
    }
    <slot />
  </div>
</section>
