---
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";

type SocialInfo = {
  color: string;
  socialLogo: Function;
  socialName: string;
  socialLink: string;
};

type SocialNames = "LINKEDIN";

const socialMediaList: { [key in SocialNames]: SocialInfo } = {
  LINKEDIN: {
    color: "#0077b5",
    socialLogo: LinkedInIcon,
    socialName: "LinkedIn",
    socialLink: "https://www.linkedin.com/in/mfpalb",
  },
};

interface Props {
  socialType: keyof typeof socialMediaList;
}

const { socialType } = Astro.props;

const socialSelected = socialMediaList[socialType];
const SocialSelectedLogo = socialSelected.socialLogo;
---

<a
  class="flex flex-row items-center gap-3
  border-4 border-solid border-black rounded-2xl
  py-3 px-6 w-auto text-xl
  transition hover:bg-gray-300/15 font-semibold
  hover:shadow-[0px_5px_0px_0px_rgba(0,0,0,1)]
  hover:-translate-y-2
  text-white"
  style={`background-color: ${socialSelected.color};`}
  target="_blank"
  rel="noopener noreferrer"
  href={socialSelected.socialLink}
>
  <SocialSelectedLogo class="size-6" fillColor="#FFF" />
  {socialSelected.socialName}
</a>
